.rodape{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 50px 1fr 50px;
    grid-template-areas: 'voltar_inicio' 'rede_sociais' 'logo_faculdade' 'localizacao';
    align-items: center;
}

.voltarInicio{
    width: 100%;
    height: 100%;
    background-color: var(--cor-rodape-primaria);
}

.botao{
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding: 3.8px;
    font-family: var(--fonts-secundaria);
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
}

.botao:hover{
    background-color: var(--cor-rodape-secundaria);
}

.rodape .rede_sociais{
    justify-self: center;
}

.rodape .rede_sociais a{
    margin-right: 15px;
}

.rodape .rede_sociais a:nth-child(3){
    margin: 0px;
}

.rodape .rede_sociais i.fa-facebook-official{
    color: #0C88EF;
}

.rodape .logo_faculdade{
    width: calc(100% - 5%);
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape .logo_faculdade img{
    height: 6rem;
    margin: 10px 10px 10px 0px;
}

.rodape .logo_faculdade img.femass{
    margin-right: 0px;
}

.rodape .local{
    justify-self: center;
    font-size: 2rem;
    margin: auto 0px;
}

.rodape .local a{
    color: var(--cor-texto-home-terceira);
}