.conteudo-home{
    display: grid;
    background-color: var(--cor-bg-principal);
    grid-template-columns: 1fr;
    grid-row: 50px 1fr 50px;
    grid-template-areas: 'imagem1' 'area_conteudo' 'imagem2';   
}

.conteudo-home .img-home{
    width: calc(100% - 5%);
    height: 15rem;
    margin: 10px auto 10px;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

.conteudo-home .img-home img{
    height: 100%;
    margin: 0px auto;
}

.conteudo-home .img1 img:nth-child(even){
    height: 80%;
}

.conteudo-home .img2 img:nth-child(odd){
    height: 80%;
}

.conteudo-home .img-home img.ocultar{
    display: none;
}

.conteudo-home .area_conteudo{
    justify-self: center;
    width: calc(100% - 5%);
    margin: 25px auto 0px;
}

.conteudo-home .area_conteudo h1{
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    color: var(--cor-texto-home-primaria);
    line-height: 3.5rem;
}

.conteudo-home .area_conteudo p{
    text-align: center;
    font-weight: 500;
    font-family: var(--fonts-terceiro);
    font-size: 2rem;
    color: var(--cor-texto-home-terceira);
    margin: 15px auto;
    line-height: 2.5rem;
}