.conteudo_quem_somos .area_conteudo{
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    background-color: var(--cor-bg-secundario);
    margin: 0px auto;
}

.area_conteudo h1, .area_conteudo .video_yt, .area_conteudo .paragrafo-quem-somos, .area_conteudo .img-valores{
    margin: 0px auto;
}

.area_conteudo h1{
    padding: 10px 0px; 
}

.area_conteudo .video_yt{
    text-align: center;
}

.video_yt iframe{
    width: 840px;
    height: 472.5px;
}

.area_conteudo .paragrafo-quem-somos p{
    font-family: var(--fonts-terceiro);
}

.area_conteudo .img-valores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-valores img{
    margin: 0px auto;
}